<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InitializerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>695A0D161BE9E2380078DDD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>695A0D2A1BE9E2380078DDD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>695A0D351BE9E2380078DDD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
